body{
    font-size: 20px;
    background-image: url(./kepek/hatter.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.varos_nevek{
    font-weight: bold;
    text-align: center;
    margin: 3px;
    font-size: 130%;
}

.varos_kepek{
    width: 500px;
    height: 300px;
    border-radius: 30px;
    border: 3px solid black;
}

.varos_kepek:hover{
    filter: brightness(115%);
}

#varos_cim{
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

#latvanyossagok, #parkok{
    text-align: center;
}

.latv_gomb, .park_gomb{
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50px;
    width: 500px;
}

.latv_gomb:hover, .park_gomb:hover{
    background-color: rgb(245, 95, 95);
}

.latv_dobozok, .park_dobozok{
    background-color: rgba(255, 128, 128, 0.5);
    width: 1000px;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    padding: 30px;
    padding-bottom: 60px;
    font-size: 120%;
}

.latv_kepek, .park_kepek{
    width: 800px;
    border-radius: 30px;
    border: 3px solid black;
}